In [16]:
import pandas as pd

In [17]:
%run facilities_df.ipynb

['AK', 'TX', 'CA', 'MT', 'NM', 'AZ', 'NV', 'CO', 'OR', 'WY', 'MI', 'MN', 'UT', 'ID', 'KS', 'NE', 'SD', 'WA', 'ND', 'OK', 'MO', 'FL', 'WI', 'GA', 'IL', 'IA', 'NY', 'NC', 'AR', 'AL', 'LA', 'MS', 'PA', 'OH', 'VA', 'TN', 'KY', 'IN', 'ME', 'SC', 'WV', 'MD', 'HI', 'MA', 'VT', 'NH', 'NJ', 'CT', 'DE', 'RI', 'DC', 'PR', 'MP', 'VI', 'AS', 'GU']

In [18]:
codes = ['AK', 'TX', 'CA', 'MT', 'NM', 'AZ', 'NV', 'CO', 'OR', 'WY', 'MI', 'MN', 'UT', 'ID', 'KS', 'NE', 'SD', 'WA', 'ND', 'OK', 'MO', 'FL', 'WI', 'GA', 'IL', 'IA', 'NY', 'NC', 'AR', 'AL', 'LA', 'MS', 'PA', 'OH', 'VA', 'TN', 'KY', 'IN', 'ME', 'SC', 'WV', 'MD', 'HI', 'MA', 'VT', 'NH', 'NJ', 'CT', 'DE', 'RI', 'DC', 'PR', 'MP', 'VI', 'AS', 'GU']

In [19]:
df5['Facility Count by State'] = count_df['Unique ID']
df5 = df5.sort_values(by = 'Facility Count by State', ascending=False)
df5 = df5.rename({'Weighted Rank':'Sum of TRI 2014 by State'}, axis = 1)
df5 = df5.drop('Size sq mi', axis = 1)

In [20]:
df5.head()

       Sum of TRI 2014 by State  Final Ranking  Facility Count by State
State
TX                 59593.679200    6832.116094                     1385
OH                 40873.741243    1122.302204                     1003
CA                 22426.968666     184.447021                      798
IL                 25467.078530     329.254035                      786
PA                 24929.193643    1028.854828                      783

In [21]:
codes = list(count_df_clean.index)

NameError: name 'count_df_clean' is not defined

In [25]:
import plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

scl = [
    [0.0, 'rgb(205,217,239)'],
    [0.2, 'rgb(141,169,219)'],
    [0.4, 'rgb(83,125,201)'],
    [0.6, 'rgb(50,59,158)'],
    [0.8, 'rgb(31,55,99)'],
    [1.0, 'rgb(15,26,47)']
]

# df['text'] = df['state'] + '<br>' + \
#     'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
#     'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
#     'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df5.index,
    z = df5['Facility Count by State'].astype(float),
    locationmode = 'USA-states',
#     text = 'There were, '+
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Number of Facilities by State")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2014 TRI Reporting Facility Count by State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
fig = go.Figure(data = data, layout = layout)
py.plotly.iplot(fig, filename = 'd3-cloropleth-map', file_id = 'jpg')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ivan.escalona/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [26]:
import plotly as py
import plotly.graph_objs as go

scl = [
    [0.0, 'rgb(205,217,239)'],
    [0.2, 'rgb(141,169,219)'],
    [0.4, 'rgb(83,125,201)'],
    [0.6, 'rgb(50,59,158)'],
    [0.8, 'rgb(31,55,99)'],
    [1.0, 'rgb(15,26,47)']
]

# df['text'] = df['state'] + '<br>' + \
#     'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
#     'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
#     'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df5.index,
    z = df5['Sum of TRI 2014 by State'].astype(float),
    locationmode = 'USA-states',
#     text = 'There were, '+
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Global TRI by State")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2014 TRI Reporting - Global TRI by State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
fig = go.Figure(data = data, layout = layout)
py.plotly.iplot(fig, filename = 'd3-cloropleth-map', file_id = 'jpg')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ivan.escalona/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [27]:
import plotly as py
import plotly.graph_objs as go

scl = [
    [0.0, 'rgb(205,217,239)'],
    [0.2, 'rgb(141,169,219)'],
    [0.4, 'rgb(83,125,201)'],
    [0.6, 'rgb(50,59,158)'],
    [0.8, 'rgb(31,55,99)'],
    [1.0, 'rgb(15,26,47)']
]

# df['text'] = df['state'] + '<br>' + \
#     'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
#     'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
#     'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df5.index,
    z = df5['Final Ranking'].astype(float),
    locationmode = 'USA-states',
#     text = 'There were, '+
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Normalized TRI by State")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2014 TRI Reporting - Normalized TRI by State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
fig = go.Figure(data = data, layout = layout)
py.plotly.iplot(fig, filename = 'd3-cloropleth-map', file_id = 'png')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ivan.escalona/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [34]:
%run Wisconsin_df.ipynb

In [36]:
len(fips)

72

In [91]:
wi_df['FIPS'] = fips


pd.to_numeric(wi_df['Value'])
pd.to_numeric(wi_df['Weighted Rank']) 
pd.to_numeric(wi_df['Final Ranking'])
pd.to_numeric(wi_df['FIPS'])
wi_df.head()

     County    Value  Weighted Rank  Final Ranking   FIPS  Count
0     ADAMS   645.65          9.932       1.538295  55001    NaN
1   ASHLAND  1045.04         31.988       3.060935  55003    NaN
2    BARRON   862.71        702.189      81.393400  55005    NaN
3  BAYFIELD  1477.86          0.000       0.000000  55007    NaN
4     BROWN   529.71       8785.226    1658.497291  55009    NaN

In [96]:
num_wi = wi_df.merge(pd.DataFrame(count_wi['Unique ID']), how = 'left', on = 'County')
num_wi.fillna(0)

         County    Value  Weighted Rank  Final Ranking   FIPS  Count  Unique ID
0         ADAMS   645.65          9.932       1.538295  55001    0.0        1.0
1       ASHLAND  1045.04         31.988       3.060935  55003    0.0        2.0
2        BARRON   862.71        702.189      81.393400  55005    0.0        9.0
3      BAYFIELD  1477.86          0.000       0.000000  55007    0.0        0.0
4         BROWN   529.71       8785.226    1658.497291  55009    0.0       34.0
5       BUFFALO   671.64         14.545       2.165595  55011    0.0        1.0
6       BURNETT   821.85          1.650       0.200767  55013    0.0        1.0
7       CALUMET   318.24        221.920      69.733534  55015    0.0        5.0
8      CHIPPEWA  1008.37        168.696      16.729573  55017    0.0        4.0
9         CLARK  1209.82          0.000       0.000000  55019    0.0        0.0
10     COLUMBIA   765.53        815.078     106.472379  55021    0.0       11.0
11     CRAWFORD   570.66         13.199       2.312936  55023    0.0        1.0
12         DANE  1197.24       6366.312     531.749023  55025    0.0       29.0
13        DODGE   875.63       1402.436     160.163083  55027    0.0       14.0
14         DOOR   481.98         12.506       2.594713  55029    0.0        1.0
15      DOUGLAS  1304.14        167.340      12.831444  55031    0.0        4.0
16         DUNN   850.11        152.876      17.983085  55033    0.0        4.0
17   EAU CLAIRE   637.98        359.392      56.332800  55035    0.0        8.0
18     FLORENCE   488.20          0.000       0.000000  55037    0.0        0.0
19  FOND DU LAC   719.55        607.170      84.381905  55039    0.0       10.0
20       FOREST  1014.07          0.000       0.000000  55041    0.0        0.0
21        GRANT  1146.85        322.752      28.142477  55043    0.0        6.0
22        GREEN   583.96        265.158      45.406877  55045    0.0        6.0
23   GREEN LAKE   349.44          4.699       1.344723  55047    0.0        1.0
24         IOWA   762.58          2.667       0.349734  55049    0.0        1.0
25         IRON   758.17          0.000       0.000000  55051    0.0        0.0
26      JACKSON   987.72         94.593       9.576904  55053    0.0        3.0
27    JEFFERSON   556.47       1446.945     260.022104  55055    0.0       15.0
28       JUNEAU   766.93        126.188      16.453653  55057    0.0        4.0
29      KENOSHA   271.99        987.107     362.920328  55059    0.0       11.0
30     KEWAUNEE   342.52         64.635      18.870431  55061    0.0        3.0
31    LA CROSSE   451.69        810.981     179.543714  55063    0.0        9.0
32    LAFAYETTE   633.59          3.479       0.549093  55065    0.0        1.0
33     LANGLADE   870.64          9.375       1.076794  55067    0.0        1.0
34      LINCOLN   878.97         89.880      10.225605  55069    0.0        3.0
35    MANITOWOC   589.08       2409.780     409.075168  55071    0.0       20.0
36     MARATHON  1544.98       3624.060     234.570027  55073    0.0       22.0
37    MARINETTE  1399.35        574.912      41.084218  55075    0.0        8.0
38    MARQUETTE   455.60         12.267       2.692493  55077    0.0        1.0
39    MENOMINEE   357.61          0.000       0.000000  55078    0.0        0.0
40    MILWAUKEE   241.40      45447.302   18826.554267  55079    0.0       86.0
41       MONROE   900.78         60.858       6.756145  55081    0.0        3.0
42       OCONTO   997.99         45.174       4.526498  55083    0.0        2.0
43       ONEIDA  1112.97         14.407       1.294464  55085    0.0        1.0
44    OUTAGAMIE   637.52       2865.030     449.402372  55087    0.0       21.0
45      OZAUKEE   233.08       1099.742     471.830273  55089    0.0       14.0
46        PEPIN   231.98          0.000       0.000000  55091    0.0        0.0
47       PIERCE   573.75          7.588       1.322527  55093    0.0        1.0
48         POLK   913.96          7.219       0.789860  55095    0.0        1.0
49      PORTAGE   800.68        551.072      68.825498  55097    0.0        8.0
50        PRICE  1254.38        100.098       7.979879  55099    0.0        3.0
51       RACINE   332.50       1195.200     359.458647  55101    0.0       15.0
52     RICHLAND   586.15          3.412       0.582104  55103    0.0        1.0
53         ROCK   718.14       1643.404     228.841730  55105    0.0       14.0
54         RUSK   913.59          8.500       0.930395  55107    0.0        1.0
55         SAUK   830.90        290.405      34.950656  55109    0.0        5.0
56       SAWYER  1257.31         88.026       7.001137  55111    0.0        3.0
57      SHAWANO   893.06         18.862       2.112064  55113    0.0        2.0
58    SHEBOYGAN   511.27       3023.166     591.305181  55115    0.0       19.0
59    ST. CROIX   722.33          0.000       0.000000  55117    0.0        0.0
60       TAYLOR   974.88          0.000       0.000000  55119    0.0        0.0
61  TREMPEALEAU   732.97         46.584       6.355513  55121    0.0        3.0
62       VERNON   791.58         31.908       4.030925  55123    0.0        2.0
63        VILAS   856.60          5.061       0.590824  55125    0.0        1.0
64     WALWORTH   555.13        816.439     147.071677  55127    0.0       13.0
65     WASHBURN   797.11          0.000       0.000000  55129    0.0        0.0
66   WASHINGTON   430.70       1475.248     342.523334  55131    0.0       16.0
67     WAUKESHA   549.57      18118.974    3296.936514  55133    0.0       51.0
68      WAUPACA   747.71        464.660      62.144414  55135    0.0        7.0
69     WAUSHARA   626.15         17.034       2.720434  55137    0.0        2.0
70    WINNEBAGO   434.49       3752.473     863.650026  55139    0.0       23.0
71         WOOD   793.12       1815.476     228.903066  55141    0.0       13.0

In [110]:
a = pd.to_numeric(num_wi['Unique ID']).min()
b = pd.to_numeric(num_wi['Unique ID']).max()
c = (b-a)/6
print(c)

14.166666666666666

In [111]:
d = list(np.arange(a,b,c))
wi_df['Value'] = pd.to_numeric(wi_df['Value'])

In [116]:
colorscale = [
    
    'rgb(214,224,242)',
    'rgb(205,217,239)',
    'rgb(141,169,219)',
    'rgb(83,125,201)',
    'rgb(50,59,158)',
    'rgb(31,55,99)',
    'rgb(15,26,47)',
    'rgb(11,20,35)',
    'rgb(0,0,0)'
]

fig = ff.create_choropleth(
    fips=num_wi['FIPS'], values= num_wi['Unique ID'], scope=['WI'],
    binning_endpoints= d, colorscale=colorscale,
    county_outline={'color': 'rgb(255,255,255)', 'width': 0.5}, round_legend_values=True,
    legend_title='Number of facilities by County', title='Wisconsin Facility Count Heatmap'
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
py.plotly.iplot(fig, filename='choropleth_wisconsin_and_surr_states_outlines')

In [118]:
a = pd.to_numeric(num_wi['Weighted Rank']).min()
b = pd.to_numeric(num_wi['Weighted Rank']).max()
c = (b-a)/6
print(c)
d = list(np.arange(a,b,c))

7574.550333333334

In [119]:
colorscale = [
    
    'rgb(214,224,242)',
    'rgb(205,217,239)',
    'rgb(141,169,219)',
    'rgb(83,125,201)',
    'rgb(50,59,158)',
    'rgb(31,55,99)',
    'rgb(15,26,47)',
    'rgb(11,20,35)',
    'rgb(0,0,0)'
]

fig = ff.create_choropleth(
    fips=num_wi['FIPS'], values= num_wi['Weighted Rank'], scope=['WI'],
    binning_endpoints= d, colorscale=colorscale,
    county_outline={'color': 'rgb(255,255,255)', 'width': 0.5}, round_legend_values=True,
    legend_title='Global 2014 TRI by County in Wisconsin', title='Global 2014 TRI by County in Wisconsin Count Heatmap'
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
py.plotly.iplot(fig, filename='choropleth_wisconsin_and_surr_states_outlines')

In [122]:
a = pd.to_numeric(num_wi['Final Ranking']).min()
b = pd.to_numeric(num_wi['Final Ranking']).max()
c = (b-a)/6
print(c)
d = list(np.arange(a,b,c))

3137.7590444628554

In [123]:
colorscale = [
    
    'rgb(214,224,242)',
    'rgb(205,217,239)',
    'rgb(141,169,219)',
    'rgb(83,125,201)',
    'rgb(50,59,158)',
    'rgb(31,55,99)',
    'rgb(15,26,47)',
    'rgb(11,20,35)',
    'rgb(0,0,0)'
]

fig = ff.create_choropleth(
    fips=num_wi['FIPS'], values= num_wi['Final Ranking'], scope=['WI'],
    binning_endpoints= d, colorscale=colorscale,
    county_outline={'color': 'rgb(255,255,255)', 'width': 0.5}, round_legend_values=True,
    legend_title='Normalized 2014 TRI by County in Wisconsin', title='Normalized 2014 TRI by County in Wisconsin Count Heatmap'
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
py.plotly.iplot(fig, filename='choropleth_wisconsin_and_surr_states_outlines')