In [16]:
import pandas as pd

In [17]:
%run facilities_df.ipynb

['AK', 'TX', 'CA', 'MT', 'NM', 'AZ', 'NV', 'CO', 'OR', 'WY', 'MI', 'MN', 'UT', 'ID', 'KS', 'NE', 'SD', 'WA', 'ND', 'OK', 'MO', 'FL', 'WI', 'GA', 'IL', 'IA', 'NY', 'NC', 'AR', 'AL', 'LA', 'MS', 'PA', 'OH', 'VA', 'TN', 'KY', 'IN', 'ME', 'SC', 'WV', 'MD', 'HI', 'MA', 'VT', 'NH', 'NJ', 'CT', 'DE', 'RI', 'DC', 'PR', 'MP', 'VI', 'AS', 'GU']

In [18]:
codes = ['AK', 'TX', 'CA', 'MT', 'NM', 'AZ', 'NV', 'CO', 'OR', 'WY', 'MI', 'MN', 'UT', 'ID', 'KS', 'NE', 'SD', 'WA', 'ND', 'OK', 'MO', 'FL', 'WI', 'GA', 'IL', 'IA', 'NY', 'NC', 'AR', 'AL', 'LA', 'MS', 'PA', 'OH', 'VA', 'TN', 'KY', 'IN', 'ME', 'SC', 'WV', 'MD', 'HI', 'MA', 'VT', 'NH', 'NJ', 'CT', 'DE', 'RI', 'DC', 'PR', 'MP', 'VI', 'AS', 'GU']

In [19]:
df5['Facility Count by State'] = count_df['Unique ID']
df5 = df5.sort_values(by = 'Facility Count by State', ascending=False)
df5 = df5.rename({'Weighted Rank':'Sum of TRI 2014 by State'}, axis = 1)
df5 = df5.drop('Size sq mi', axis = 1)

In [20]:
df5.head()

       Sum of TRI 2014 by State  Final Ranking  Facility Count by State
State
TX                 59593.679200    6832.116094                     1385
OH                 40873.741243    1122.302204                     1003
CA                 22426.968666     184.447021                      798
IL                 25467.078530     329.254035                      786
PA                 24929.193643    1028.854828                      783

In [21]:
codes = list(count_df_clean.index)

NameError: name 'count_df_clean' is not defined

In [25]:
import plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

scl = [
    [0.0, 'rgb(205,217,239)'],
    [0.2, 'rgb(141,169,219)'],
    [0.4, 'rgb(83,125,201)'],
    [0.6, 'rgb(50,59,158)'],
    [0.8, 'rgb(31,55,99)'],
    [1.0, 'rgb(15,26,47)']
]

# df['text'] = df['state'] + '<br>' + \
#     'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
#     'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
#     'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df5.index,
    z = df5['Facility Count by State'].astype(float),
    locationmode = 'USA-states',
#     text = 'There were, '+
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Number of Facilities by State")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2014 TRI Reporting Facility Count by State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
fig = go.Figure(data = data, layout = layout)
py.plotly.iplot(fig, filename = 'd3-cloropleth-map', file_id = 'jpg')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ivan.escalona/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [26]:
import plotly as py
import plotly.graph_objs as go

scl = [
    [0.0, 'rgb(205,217,239)'],
    [0.2, 'rgb(141,169,219)'],
    [0.4, 'rgb(83,125,201)'],
    [0.6, 'rgb(50,59,158)'],
    [0.8, 'rgb(31,55,99)'],
    [1.0, 'rgb(15,26,47)']
]

# df['text'] = df['state'] + '<br>' + \
#     'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
#     'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
#     'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df5.index,
    z = df5['Sum of TRI 2014 by State'].astype(float),
    locationmode = 'USA-states',
#     text = 'There were, '+
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Global TRI by State")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2014 TRI Reporting - Global TRI by State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
fig = go.Figure(data = data, layout = layout)
py.plotly.iplot(fig, filename = 'd3-cloropleth-map', file_id = 'jpg')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ivan.escalona/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [27]:
import plotly as py
import plotly.graph_objs as go

scl = [
    [0.0, 'rgb(205,217,239)'],
    [0.2, 'rgb(141,169,219)'],
    [0.4, 'rgb(83,125,201)'],
    [0.6, 'rgb(50,59,158)'],
    [0.8, 'rgb(31,55,99)'],
    [1.0, 'rgb(15,26,47)']
]

# df['text'] = df['state'] + '<br>' + \
#     'Beef ' + df['beef'] + ' Dairy ' + df['dairy'] + '<br>' + \
#     'Fruits ' + df['total fruits'] + ' Veggies ' + df['total veggies'] + '<br>' + \
#     'Wheat ' + df['wheat'] + ' Corn ' + df['corn']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df5.index,
    z = df5['Final Ranking'].astype(float),
    locationmode = 'USA-states',
#     text = 'There were, '+
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Normalized TRI by State")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2014 TRI Reporting - Normalized TRI by State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
fig = go.Figure(data = data, layout = layout)
py.plotly.iplot(fig, filename = 'd3-cloropleth-map', file_id = 'png')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ivan.escalona/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [34]:
%run Wisconsin_df.ipynb

In [36]:
len(fips)

72

In [68]:
wi_df['FIPS'] = fips
pd.to_numeric(wi_df['Value'])
pd.to_numeric(wi_df['Weighted Rank']) 
pd.to_numeric(wi_df['Final Ranking'])
wi_df.head()

     County    Value  Weighted Rank  Final Ranking   FIPS
0     ADAMS   645.65          9.932       1.538295  55001
1   ASHLAND  1045.04         31.988       3.060935  55003
2    BARRON   862.71        702.189      81.393400  55005
3  BAYFIELD  1477.86          0.000       0.000000  55007
4     BROWN   529.71       8785.226    1658.497291  55009

In [69]:
a = pd.to_numeric(wi_df['Value']).min()
b = pd.to_numeric(wi_df['Value']).max()
c = (b-a)/5
print(c)

262.6

In [70]:
d = list(np.arange(a,b,c))

In [71]:



colorscale = [
    'rgb(193, 193, 193)',
    'rgb(239,239,239)',
    'rgb(195, 196, 222)',
    'rgb(144,148,194)',
    'rgb(101,104,168)',
    'rgb(65, 53, 132)'
]

fig = ff.create_choropleth(
    fips=wi_df['FIPS'], values= wi_df['Value'], scope=['WI'],
    binning_endpoints= d, colorscale=colorscale,
    county_outline={'color': 'rgb(255,255,255)', 'width': 0.5}, round_legend_values=True,
    legend_title='Population by County', title='Wisconsin and Nearby States'
)
py.tools.set_credentials_file(username='ivan.escalona', api_key='fQu1m9ETBn8NRAiOK7CW')
py.plotly.iplot(fig, filename='choropleth_wisconsin_and_surr_states_outlines')

C:\Users\ieeff\Anaconda3_new\lib\site-packages\pandas\core\frame.py:6211: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

TypeError: '<' not supported between instances of 'float' and 'str'